// 还原默认样式
@import './reset.scss';

// 定义css的全局变量
@import './variables.scss';

// 定义公共css函数
@import './common.scss';

// 覆盖element-plus 默认的侧边导航栏样式
@import './sidebar.scss';
// 定义主题

@import './transition.scss';
